@charset "utf-8";.wx_top{position:fixed;top:0px;left:0px;width:100%;}
.wx_account{padding-top:46px;}
.wx_account_table2 h3, .wx_account_wrap h3{font-weight:normal;}
.wx_account h3.wx_account_title{color:#666;font-size:14px;}
.wx_account_table2, .wx_account_wrap{padding:8px 21px;padding-bottom:12px;}

.wx_recharge{padding-top:6px;}
.wx_recharge_error{display:none;}
.wx_recharge_error p{font-size:14px;}
.wx_recharge_error .wx_draw_info {border-bottom:none;}
.wx_recharge_error p{height:auto;margin-top:12px;margin-bottom:12px;}

.wx_title_2{font-weight:normal;}
h4.wx_title_v2{padding-bottom:12px;}
.wx_fix_v1{text-align:left;	}
.wx_fix_v1 span{}
.wx_color_o{color:#ff864a;padding-right:2px;}
.wx_color_r{color:#cda148;}
.wx_font_hint{font-size:12px;line-height:12px;color:#999999;}
p.wx_recharge_fix2{color:#999;padding-left:24px;height:auto;word-break:keep-all;}
div.wx_recharge_fix3{padding-top:16px;}

/*第三种场景*/
.wx_recharge3 .wx_draw_bank_info{padding-top:32px;border-bottom:none;}
.wx_recharge3 .wx_recharge_fix3{text-align:center;}
.wx_btn_org.gray{}
.wx_account_btn_box{padding:0px;padding-top:16px;padding-bottom:12px;}
.wx_tip{display:none;}
.wx_account_input_unit{z-index:998;}
.dialog-success .dialog-content{text-align:center;margin:0 auto;width:100px;background-color:#fff;}
