@charset "utf-8";

.wx_account_table2 p.ttn-po{padding:0; height:60px;padding-left:82px;  margin:50px auto; display:inline-block; text-align:left;}
.wx_account_table2 p.ttn-po{background:url(../img/wx_list/wx_tip.gif) no-repeat 0 0; line-height:30px;}
.ttn-lcr{ text-align:center;}
.ttn-cl-po{ border:1px solid #e0af48; background:#fff9e3; margin:15px 20px; padding:10px;}
dl.ttn-cl-po dt{ color:#ff864a; font-size:14px; display:block;}
dl.ttn-cl-po dd{ color:#666; line-height:26px; margin-top:6px;}
.ttn-sel{display:block; overflow:hidden;}
.ttn-sel span{ width:100%; outline:medium; border:2px; border-color:#eee #eee #b6b6b6;border-style:solid; height:44px; line-height:44px; display:block; padding-left:12px;box-sizing:border-box; background:#ededed url(../img/draw/draw-sel.png) no-repeat 100% 10px; background-size:27px 20px; color:#c8c8cd;}
.ttn-sel span.sel-cur{ cursor:pointer;background:#fff url(../img/draw/draw-sel.png) no-repeat 100% 10px; color:#5ca3e1;background-size:27px 20px;}
.ttn-top{ margin-top:20px;}

.ttn-draw-monry{padding:0;}
.wx_account_table2 p.wx_account_table2_input span{ line-height:40px; height:40px;}
.wx_account_table2 p{ height:auto;}
.ttn-draw-monry .wx_account_input_box{ margin-bottom:6px;}
.ttn-draw-monry .wx_account_table2_body p{ border-bottom:1px solid #e5e5e5; padding:10px 0; line-height:30px;}
.ttn-draw-monry p i.po{ line-height:20px; display:inline-block;padding-left:85px; width:auto; height:auto;font-style:normal; color:#9c9c9c; font-size:12px;}
.wx_account_table2 p.wx_account_table2_input{ height:auto;}
.wx_draw .wx_draw_info{ border-bottom:0;}
.ttn-draw-monry p i.pd-l{padding-left:15px;}
.ttn-draw-monry{border-top:1px solid #e5e5e5;}
.ttn-draw-monry p span{ padding-left:10px;}
.ttn-draw-monry .wx_account_input_box{ margin-left:85px;}
.wx_account_table2 p.ttn-draw-suc{background:url(../img/wx_list/wx_arrow_icon.gif) no-repeat 0 0; line-height:60px;}
.wx-line-tb{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
#drawSub{ margin-bottom:10px; display:none;}

/*弹出框 省市区*/
.lay-sel{height:236px; overflow-x:hidden; overflow-y:auto;zoom:1;}
#dialog .lay-sel li{height:40px; line-height:40px; border-bottom:1px solid #e5e5e5;}
.lay-sel li span.l{ float:right; margin:11px 20px 0 5px;; width:17px; height:17px; border:1px solid #cfa74a; border-radius:17px; cursor:pointer;background:#fff;}
.lay-sel li span.r{ line-height:40px; font-size:12px; color:#666; margin-left:10px; display:block;}
#dialog .lay-sel li.cur{ background:#f0f0f0;}
#dialog .lay-sel li.cur span.l em{ width:9px; height:9px; background:#cfa74a; display:block; border-radius:5px; margin:4px 0 0 4px;}

.ttn-more-blank{ padding:20px;}
.ttn-more-blank h3{ line-height:38px; font-weight:normal; color:#666;padding-left:12px;}
.ttn-more-blank .pging{ padding-bottom:20px;}
.ttn-more-blank p{ color:#666; line-height:20px; padding-left:12px;}
.ttn-more-blank p span{ color:#fc864e;}
